/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: var(--title-wght);
  background: var(--bg-color);
}

/* @supports (font-variation-settings: normal) {
  body {
      font-family: 'Roboto-Flex-Variable', sans-serif;
  }
}  */

.header {
  padding-block-start: 102px;
  padding-block-end: 104px;
}

.header__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: 2px solid var(--accent-color);
  background: var(--bg-color);
  max-width: 696px;
  min-height: 364px;
  flex-shrink: 0;
  z-index: 2;
}
/* .header__logo-group {} */

.logo-text {
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.logo-title {
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  margin-block-start: 20px;
}

.header__theme-menu {
  padding-block: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
}

.theme-menu__item {
  color: var(--accent-color);
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__item:hover {
  opacity: 0.6;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
}
